{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            <br>
            <p class="text-center alert alert-success">{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
        </div>
    </div>
{% endblock %}
