{% extends 'ProjectBackBundle:Default:base.html.twig' %}
{% block content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ object.name }}</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <br>
                        <div>
                            Nom : {{ object.name }}
                        </div>
                        <div>
                            {% for context in object.contexts %}
                                Context : {{ context.context }} <br>
                            {% endfor %}
                        </div>
                        <br>
                        <br>
                        <div data-example-id="togglable-tabs" role="tabpanel" class="">
                            <ul role="tablist" class="nav nav-tabs bar_tabs" id="myTab">
                                <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab"
                                                                          role="tab" id="home-tab"
                                                                          href="#tab_content1">News</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div aria-labelledby="home-tab" id="tab_content1" class="tab-pane fade active in"
                                     role="tabpanel">
                                    <ul class="messages">
                                        <li>
                                            <img alt="Avatar" class="avatar" src="images/img.jpg">
                                            <div class="message_date">
                                                <h3 class="date text-info">24</h3>
                                                <p class="month">May</p>
                                            </div>
                                            <div class="message_wrapper">
                                                <h4 class="heading">Desmond Davison</h4>
                                                <blockquote class="message">Raw denim you probably haven't heard of
                                                    them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher
                                                    retro keffiyeh dreamcatcher synth.
                                                </blockquote>
                                                <br>
                                                <p class="url">
                                                        <span data-icon="" aria-hidden="true"
                                                              class="fs1 text-info"></span>
                                                    <a href="#"><i class="fa fa-paperclip"></i> User Acceptance
                                                        Test.doc </a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="Avatar" class="avatar" src="images/img.jpg">
                                            <div class="message_date">
                                                <h3 class="date text-error">21</h3>
                                                <p class="month">May</p>
                                            </div>
                                            <div class="message_wrapper">
                                                <h4 class="heading">Brian Michaels</h4>
                                                <blockquote class="message">Raw denim you probably haven't heard of
                                                    them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher
                                                    retro keffiyeh dreamcatcher synth.
                                                </blockquote>
                                                <br>
                                                <p class="url">
                                                    <span data-icon="" aria-hidden="true" class="fs1"></span>
                                                    <a data-original-title="" href="#">Download</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="Avatar" class="avatar" src="images/img.jpg">
                                            <div class="message_date">
                                                <h3 class="date text-info">24</h3>
                                                <p class="month">May</p>
                                            </div>
                                            <div class="message_wrapper">
                                                <h4 class="heading">Desmond Davison</h4>
                                                <blockquote class="message">Raw denim you probably haven't heard of
                                                    them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher
                                                    retro keffiyeh dreamcatcher synth.
                                                </blockquote>
                                                <br>
                                                <p class="url">
                                                        <span data-icon="" aria-hidden="true"
                                                              class="fs1 text-info"></span>
                                                    <a href="#"><i class="fa fa-paperclip"></i> User Acceptance
                                                        Test.doc </a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="Avatar" class="avatar" src="images/img.jpg">
                                            <div class="message_date">
                                                <h3 class="date text-error">21</h3>
                                                <p class="month">May</p>
                                            </div>
                                            <div class="message_wrapper">
                                                <h4 class="heading">Brian Michaels</h4>
                                                <blockquote class="message">Raw denim you probably haven't heard of
                                                    them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher
                                                    retro keffiyeh dreamcatcher synth.
                                                </blockquote>
                                                <br>
                                                <p class="url">
                                                    <span data-icon="" aria-hidden="true" class="fs1"></span>
                                                    <a data-original-title="" href="#">Download</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}